html {
	font-size: var(--font-size-base);
}

body{
	font-family: 'Inter';
	padding: var(--spacing-medium);
}
.container {
	display: flex;
	flex-flow: column nowrap;
	justify-content: space-between;
	align-items: center;
	height: 90vh;
}

.button-container-top {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.button-container-bottom {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.button-container-top .header__list-elements,
.button-container-bottom .header__list-elements {
  display: flex;
  gap: 1rem;
}

.overview__button {
	color: var(--color-primary);
	padding: var(--spacing-small) var(--spacing-medium);
}

.overview__button:hover {
	color: var(--color-tertiary);
}

.overview__button--active {
	color: var(--color-accent-4);
}

.component {
	display: none;
	flex-flow: column nowrap;
	gap: var(--spacing-large);
}

.component--visible {
	display: block;
}

.component-state {
	display: flex;
	width: 100%;
	flex-flow: column nowrap;
	gap: var(--spacing-small);
}

.component-state__name {
	color: var(--color-tertiary);
}

.component-triggers__button {
	border-radius: var(--border-radius);
	color: var(--color-tertiary);
	border: 2px solid var(--color-tertiary);
	padding: var(--spacing-small);
}

.button-container {
	display: flex;
	justify-content: center;
}


