:root {
	--font-size-base: 30px;
	
	--color-primary: black;
	--color-secondary: white;
	--color-tertiary: hsl(0, 0%, 65%);

	--color-accent-1: hsl(235, 100%, 90%);
	--color-accent-2: #ffc8dd80;
	--color-accent-3: #FFAFCC;
	--color-accent-4: red;
	
	--spacing-small: 0.5rem;
	--spacing-medium: 1rem;
	--spacing-large: 2rem;

	--border-radius-small: 10px;
	--border-radius-medium: 25px;

	--border-normal: 1px solid black;
}