:root {
	--font-size-base: 30px;
	--font-size-extra-small: 0.6rem;
	--font-size-small: 0.8rem;
	--font-size-small-plus: 0.9rem;
	
	--color-primary: black;
	--color-secondary: white;
	--color-tertiary: hsl(0, 0%, 65%);

	--color-accent-1: hsl(235, 100%, 90%);
	--color-accent-2: #ffc8dd80;
	--color-accent-3: #FFAFCC;
	--color-accent-4: red;
	--color-accent-5: #6F2DBD;
	--color-accent-6: #858585;
	--color-accent-7: #69B5FD;
	
	--color-accent-3-faded: #ffc8dd31;

	--spacing-small: 0.5rem;
	--spacing-medium: 1rem;
	--spacing-large: 2rem;

	--border-radius-small: 10px;
	--border-radius-medium: 20px;
	--border-radius-medium-plus: 25px;

	--border-normal: 1px solid black;
	--border-checkbox-normal: 3px solid black;
	--border-pronounced: 4px solid black;
	--border-card-hover: 3px solid #69B5FD;
	--border-input-active: 4px solid #6F2DBD;
}