.breadcrumb__list-items {
	display: flex;
}

.breadcrumb__list-item {
	background: var(--color-secondary);
	color: var(--color-primary);
	padding-left: var(--spacing-small);
	padding-right: var(--spacing-small);
	border-radius: var(--border-radius-medium);
}

.breadcrumb__list-item:hover {
	background: var(--color-accent-3-faded);
}

.breadcrumb__list-item--active {
	background: var(--color-accent-7);
}

