.input__field {
	all: unset;
	border: var(--border-normal);
	border-radius: var(--border-radius-medium);
}

.input__field:hover {
	border: var(--border-pronounced);
}

.input__field:active {
	border: var(--border-input-active);
}